/DataBrain_DAO/dist/
/DataBrain_SiteTeste/nbproject/private/
/DataBrain_FormTeste/nbproject/private/
/DataBrain_FormTeste/build/
/DataBrain_FormTeste/dist/
/DataBrain_DAO/build/
/DataBrain_Cleasing/build/
/DataBrain_Util/build/
/DataBrain_Util/dist/
/DataBrain_Cleasing/dist/
/DataBrain_UI_Form/nbproject/private/
/DataBrain_UI_Form/build/